/* 

ABOUT: CSS Units

px = pixels = This is an absolute unit (fixed sized).
Its size never changes, even if the screen size changes.

% = percent

*/


div.parent {
  width: 200px;
  border: 1px solid black;
}

div.item {
  background-color: red;
  height: 20px;
  margin: 5px 0px;
}
